* {
    box-sizing:border-box;
}

body {
    font-family:Arial,sans-serif;
    background-color:#f4f4f4;
    margin:0;
    padding:150px;
    overflow-y:auto;
} 

.container {
    max-width:400px;
    margin:auto;
    background:#fff;
    padding:20px;
    border-radius:8px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

h1 {
    color:#141414;
}

.input-group {
    margin:15px 0;
} 

label {
    display:block;
    margin-bottom:5px;
    color:#555;
}

input {
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:4px;
}

button {
    margin:3px 0;
    width:100%;
    padding: 7px;
    background-color:#28a745;
    color:#fff;
    border:none;
    border-radius:4px;
    cursor:pointer;
}

button:hover {
    background-color:#218838;
}

h2 {
    text-align:center;
    color:#333;
}

#historico {
    font-size: 15px;
    margin-top: 20px;
    list-style-type:none;
    padding:0;
}

.historico-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.historico-list li {
    background-color: #f0f0f0; /* Fundo claro */
    border: #ddd; /* Borda suave */
    border-radius: 5px; /* Cantos arredondados */
    padding: 10px;
    margin-bottom: 5px; /* Espaço entre os itens */
}

.historico-list li:hover {
    background-color: #e0e0e0; /* Destaque ao passar o mouse */
}

.aline {
    display: flex;
}

#clearHistorico {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    background: #28a745;
    border: none;
    cursor: pointer;
    margin-left: 7px;
    width: 35px;
    height: 30px;
    padding:0;
}

#clearHistorico img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    margin-top: 5px;
}

#clearHistorico:hover {
    background-color:#218838;
}

footer {
    color:#333;
    text-align:center;
    padding:20px;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;   
    position: static; 
}

.icone,h1 {
    display:flex;
    padding-left:15px;
}

.icone,i,img {
    width:50px;
    margin:2px;
}

.icone {
    padding-left:60px;
    margin-top:15px;
}

@media(max-width: 768px) {
    body {
        padding: 20px;
        margin-top: 55px;
        overflow: auto;
    }

    .container {
        padding: 20px;
        margin: 10px;
    }

    h1, h2 {
        font-size: 30px;
    }

    input, button {
        padding: 12px;
        font-size: 16px;
    }

    #clearHistorico {
        width: 50px;
        height: 43px;
    }

    #clearHistorico img {
        margin-bottom:6px;
    }

    footer, p {
        font-size: 13px;
        position: static;
    }

    .icone, i {
        padding-left: 15px;
    }
    
    h1 {
        margin: 24px;
        margin-top: 23px;
    }
}



